footer.main-footer.bg-athens-gray
  .container
    .row
      .col-12.text-center
        a(href="#")
          img(src="dist/images/footer-logo.png" alt="")
      .col-12
        ul.footer-menu.text-center
          each val, index in ['Home', 'Why Credit','FAQs','Payment'] 
            li
              a(href="#")= val 
  .copy
    .container
      p.m-0 © Copyright All Rights Reserved.            
