// ================================== banner
.banner {
  position: relative;
  @include lg {
    padding-bottom: 60px;
    padding-top: 150px;
    color: #fff;
    h1 {
      color: #fff;
    }
  }
  @include lg {
    background: #1c70e5;
  }
  .img {
    min-height: 685px;
    position: relative;
    z-index: 2;
    @include lg {
      min-height: auto;
      padding-top: 50px;
    }
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 64.861vw;
    height: 100%;
    background: url(../images/banner-bg.png);
    background-size: 100% 100%;
    z-index: 1;
    @include lg {
      display: none;
    }
  }
  p {
    font-size: em(25px);
    font-weight: 300;
    @include xl {
      font-size: 18px;
    }
  }
}
// =========================== .quick-credit
.quick-credit {
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    @include lg {
      grid-template-columns: 1fr;
    }
  }
}
// ============================= service
.service {
  margin-top: 5em;
  .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 37px 30px;
  }
  .item {
    background-color: #ffffff;
    border-radius: 10px;
    padding: em(24px) em(28px);
    text-align: center;
    transition: 0.5s;
    min-height: 180px;
    p {
      color: #3b4b73;
      font-weight: 600;
      font-size: em(15px);
    }
    &:hover {
      background-color: #3a93f8;
      box-shadow: 0 17px 48px rgba(17, 61, 111, 0.3);
      img {
        filter: brightness(0) invert(1);
      }
      p {
        color: #fff;
      }
    }
  }
}
// =============================== .choose
.choose {
  @media (min-width: 992px) {
    padding-top: em(50px);
  }
  .text {
    padding-top: em(130px);
    @include lg {
      padding-top: 0;
    }
    h2 {
      @media (min-width: 992px) {
        white-space: nowrap;
      }
    }
  }
}

// ======================= testimonial
.testimonial {
  background-image: url(../images/map.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  &.bg-curve-before {
    &:before {
      background-image: url(../images/curve-2.png);
      top: 100%;
      bottom: auto;
      height: 198px;
    }
  }
  .item {
    display: grid;
    grid-template-columns: 68px auto;
    grid-column-gap: 25px;
    background-color: #ffffff;
    border: 1px solid rgba(189, 188, 189, 0.2);
    border-radius: 10px;
    margin-bottom: 33px;
    padding: 20px;
    transition: 0.5s;
    .img {
      img {
        box-shadow: 0 5px 5px rgba(17, 61, 111, 0.3);
        width: 68px;
        height: 68px;
        border-radius: 50%;
      }
    }
    .title {
      font-size: em(19px);
      font-weight: 600;
      color: #3b4b73;
    }
    span.small {
      color: #b1b1b1;
      font-weight: 300;
      font-size: em(15px);
    }
    p {
      color: #828282;
      font-size: em(15px);
      font-weight: 300;
    }
    &:hover {
      box-shadow: 0 15px 43px rgba(21, 43, 69, 0.32);
      background-color: #663efe;
      background-image: linear-gradient(-21deg, #4087f9 0%, #63acff 100%);
      border-color: transparent;
      .title,
      .small,
      p {
        color: #ffffff;
      }
      .button {
        background-color: #2860ae;
      }
    }
  }
}

// ================================ question
.question {
  padding-top: 18em;
  @include sm {
    padding-top: 13em;
  }
}
// ============================== .boost-plans
.boost-plans {
  padding-top: 15em;
  &.bg-curve-before {
    &:before {
      background-image: url(../images/curve-big.png);
      bottom: auto;
      top: 0;
      height: 886px;
    }
  }
  .bost-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 140px;
    @include lg {
      grid-template-columns: 1fr;
    }
    .images {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 24px;
      @include lg {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 60px;
      }
      img {
        box-shadow: 0 5px 5px rgba(17, 61, 111, 0.3);
        border-radius: 10px;
      }
    }
  }
  // ================== .plans
  .plans {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 38px;
    @include md {
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
    }
    .item {
      border: 1px solid rgba(189, 188, 189, 0.2);
      border-radius: 10px;
      background-color: #f9f9fe;
      color: #404040;
      transition: 0.2s;
      h4 {
        font-weight: 600;
      }
      .price {
        line-height: 1;
        span {
          margin: 0 3px;
          &.top {
            vertical-align: top;
          }
          &.big {
            font-size: 49px;
            font-weight: 900;
          }
        }
      }
      .list-unstyled {
        border-top: 1px solid #f0f0f0;
      }
      &:hover {
        background-color: #1865df;
        background-image: linear-gradient(-8deg, #1865df 0%, #4a9bf6 100%);
        color: #fff;
        .color-dodger-blue,
        i {
          color: #fff;
        }
      }
    }
  }
}

// ================================= faq
.faq {
  .card {
    box-shadow: 0 3px 4px rgba(19, 53, 92, 0.04);
    background-color: #ffffff;
    margin-bottom: 30px;
    border-radius: 10px !important;
    overflow: hidden;
    @include lg {
      margin-bottom: 20px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .card-header {
    background-color: #3a93f8;
    border: none;
    padding: 0.4rem 1.25rem;

    button {
      font-size: 20px;
      color: #ffffff;
      @include lg {
        font-size: 16px;
      }
      &:after {
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        content: "\f107";
        position: absolute;
        top: 0;
        right: 0;
        color: #fff;
        font-size: 30px;
        @include lg {
          font-size: 23px;
        }
      }
      &:focus {
        box-shadow: none;
      }
      &[aria-expanded="true"] {
        &:after {
          content: "\f106";
        }
      }
    }
  }
}
// =========================== Affilated
.affilated {
  background: #fff;
  .main-footer {
    background-color: #fff;
  }
}
// ===================== brand
.brand {
  padding-bottom: 11em;
  .brand-items {
    .heading {
      h2 {
        font-size: em(70px);
        margin: 0;
        line-height: 1;
      }
    }
    .number {
      font-size: em(50px);
      font-weight: 700;
      span {
        font-size: calc-em(25, 50);
        font-weight: 300;
        vertical-align: middle;
        margin-left: 10px;
        @include sm {
          display: block;
          margin: 0;
        }
      }
      &.big {
        font-size: em(77px);
        @include sm {
          font-size: 3.813em;
        }
        span {
          font-size: calc-em(20, 77);
          vertical-align: baseline;
        }
      }
    }
    .score {
      .grid {
        display: grid;
        grid-template-columns: 1fr 1.5fr 1fr;
        @include lg {
          grid-template-columns: 1fr 1fr;
          grid-gap: 30px 40px;
          .arrow {
            order: 1;
            grid-column: 1/-1;
          }
          .person-a {
            order: 2;
          }
          .person-b {
            order: 3;
          }
        }
        @include sm {
          grid-template-columns: 1fr;
        }
      }
      .title {
        font-size: em(35px);
        font-weight: 700;
      }
      .person {
        @include md {
          font-size: 12px;
        }
        li {
          font-size: em(22px);
          font-weight: 300;
          b {
            font-weight: 600;
          }
        }
      }
    }
    .result {
      p {
        font-size: em(20px);
        line-height: (40/20);
        @include md {
          font-size: 16px;
        }
        &.big {
          font-size: em(25px);
          @include md {
            font-size: 20px;
          }
        }
      }
    }
  }
}
// ========================= .range
.range {
  .grid-button {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(153px, 1fr));
    grid-gap: 10px 15px;
    margin-bottom: em(80px);
  }
  .btn {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.11);
    border-radius: 23px;
    background-color: #c22121;
    font-size: em(20px);
    color: #ffffff;
    font-weight: 600;
    &.button {
      &-0 {
        background-color: #c22121;
      }
      &-1 {
        background-color: #e34245;
      }
      &-2 {
        background-color: #e5551e;
      }
      &-3 {
        background-color: #e9820a;
      }
      &-4 {
        background-color: #f0b01e;
      }
      &-5 {
        background-color: #91c028;
      }
      &-6 {
        background-color: #45a63a;
      }
    }
  }
  .content {
    p {
      margin-bottom: em(25px);
    }
  }
}
// ===================== chart
.chart {
  h4 {
    font-size: em(20);
    font-weight: 600;
  }
  p {
    font-size: em(18);
  }
  &.bg-curve-before {
    background-color: #f9f9fe;
    &:before {
      background-image: url(../images/chart-before.png);
      height: 256px;
    }
  }
}
.chart-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: em(70px) 0;
  @include lg {
    grid-template-columns: 1fr;
    grid-row-gap: 90px;
    margin: em(50px) 0;
  }
  .content {
    li {
      display: grid;
      grid-template-columns: em(24px) 1fr;
      grid-column-gap: em(24px);
      margin-bottom: em(10px);
      &:before {
        content: "";
        width: em(24px);
        height: em(24px);
        background-color: #99ca2d;
        border-radius: 50%;
        display: block;
      }
    }
    #slice-4-tigger {
      &:before {
        background-color: #99ca2d;
      }
    }
    #slice-5-tigger {
      &:before {
        background-color: #30b6e8;
      }
    }
    #slice-1-tigger {
      &:before {
        background-color: #ef4649;
      }
    }
    #slice-2-tigger {
      &:before {
        background-color: #f5890b;
      }
    }
    #slice-3-tigger {
      &:before {
        background-color: #fdb923;
      }
    }
  }
}
:root {
  --chart-width: 381px;
  --chart-height: 380px;
  --slice-1: calc(15deg * 3.6);
  --slice-2: calc(10deg * 3.6);
  --slice-3: calc(10deg * 3.6);
  --slice-4: calc(35deg * 3.6);
  --slice-5: calc(30deg * 3.6);
  @include md {
    --chart-width: 300px;
    --chart-height: 300px;
  }
}
.pieContainer {
  width: var(--chart-width);
  height: var(--chart-height);
  // margin: 50px 0;
  transform: rotate(-10deg);
  position: relative;
  align-self: center;
  margin: 0 auto;
}
.pieBackground {
  width: em(154px);
  height: em(154px);
  box-shadow: 0 21px 39px rgba(0, 0, 0, 0.32);
  background-color: #ffffff;
  background-image: linear-gradient(
    to bottom,
    rgba(210, 210, 210, 0.97) 0%,
    rgba(255, 255, 255, 0.97) 69%,
    rgba(241, 241, 241, 0.97) 100%
  );
  border-radius: 50%;
  z-index: 6;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  margin-top: em(-77px);
  @include md {
    font-size: 10px;
  }
}
.pie {
  position: absolute;
  width: var(--chart-width);
  height: var(--chart-height);
  border-radius: 50%;
  clip: rect(0px, calc(var(--chart-width) / 2), var(--chart-width), 0px);
}
.hold {
  position: absolute;
  width: var(--chart-width);
  height: var(--chart-height);
  border-radius: 50%;
  transition: 0.3s;
  &.hover {
    filter: drop-shadow(-1px 7px 3px rgba(0, 0, 0, 0.16));
  }
  clip: rect(
    0px,
    var(--chart-width),
    var(--chart-width),
    calc(var(--chart-width) / 2)
  );
}
.percent {
  color: #ffffff;
  font-weight: 600;
  font-size: em(48px);
  z-index: 10;
  position: absolute;
  @include md {
    font-size: 2.5em;
  }
}
#slice-1-percent {
  top: 9%;
  left: 56%;
  transform: rotate(10deg);
}
#slice-2-percent {
  top: 30%;
  left: 73%;
  transform: rotate(-10deg);
}
#slice-3-percent {
  top: 51%;
  left: 73%;
  transform: rotate(14deg);
}
#slice-4-percent {
  top: 73%;
  left: 32%;
  transform: rotate(13deg);
}
#slice-5-percent {
  top: 21%;
  left: 11%;
  transform: rotate(-60deg);
}
#slice-1 {
  &.hover {
    transform: scale(1.17);
    z-index: 3;
  }

  .pie {
    background-color: #1b458b;
    transform: rotate(var(--slice-1));
    background-color: #ef4649;
  }
}
#slice-2 {
  transform: rotate(var(--slice-1));
  &.hover {
    z-index: 2;
    transform: rotate(var(--slice-1)) scale(1.1);
  }
  .pie {
    transform: rotate(var(--slice-2));
    background-color: #1b458b;
    background-color: #f5890b;
  }
}
#slice-3 {
  transform: rotate(calc(var(--slice-1) + var(--slice-2)));
  &.hover {
    z-index: 1;
    transform: rotate(calc(var(--slice-1) + var(--slice-2))) scale(1.1);
  }
  .pie {
    background-color: #cc0000;
    transform: rotate(var(--slice-3));
    background-color: #fdb923;
  }
}

#slice-4 {
  transform: rotate(calc(var(--slice-1) + var(--slice-2) + var(--slice-3)));
  &.hover {
    z-index: 5;
    transform: rotate(calc(var(--slice-1) + var(--slice-2) + var(--slice-3)))
      scale(1.3);
  }
  .pie {
    transform: rotate(var(--slice-4));
    background-color: green;
    background-color: #99ca2d;
  }
}

#slice-5 {
  transform: rotate(
    calc(var(--slice-1) + var(--slice-2) + var(--slice-3) + var(--slice-4))
  );
  &.hover {
    z-index: 4;
    transform: rotate(
        calc(var(--slice-1) + var(--slice-2) + var(--slice-3) + var(--slice-4))
      )
      scale(1.23);
  }
  .pie {
    transform: rotate(var(--slice-5));
    background-color: yellow;
    background-color: #30b6e8;
  }
}
// =============================== .contact
.contact {
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    @include lg {
      grid-template-columns: 1fr;
    }
    form {
      background-color: #ffffff;
      box-shadow: 0 0 87px rgba(0, 0, 0, 0.17);
      padding: em(47px) em(87px);
      @include xl {
        padding: em(30px) em(60px);
      }
      @include sm {
        padding: em(20px);
      }
      .title {
        font-size: em(40px);
        font-weight: 700;
        color: #373838;
        margin-bottom: calc-em(20, 44);
        &:after {
          content: "";
          height: 5px;
          width: 65px;
          background-color: #25aae0;
          display: block;
          border-radius: 50px;
        }
      }
      label {
        font-weight: 300;
        letter-spacing: em(0.32px);
        color: #373838;
        margin: 0;
        span {
          color: #25aae0;
          margin-left: 4px;
        }
      }
      input {
        border: 1px solid rgba(234, 234, 231, 0.5);
        height: em(43px);
        padding: 0 em(15px);
        margin-top: 5px;
        margin-bottom: 10px;
      }
      textarea {
        height: em(114px);
        border: 1px solid rgba(234, 234, 231, 0.5);
        padding: em(15px);
        margin-top: 5px;
        margin-bottom: em(28px);
      }
      button {
        height: calc-em(54, 25);
        color: #ffffff;
        font-size: em(25px);
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 50px;
      }
    }
  }
}
